<div class="mobile-menu">
    <a href="index.html" title="صفحه نخست"><i class="far fa-home"></i><span>خانه</span></a>
    <button class="cate-btn" title="لیست دسته بندی"><i class="far fa-th-large"></i><span>دسته بندی</span></button>
    <button class="cart-btn" title="سبد خرید"><i class="far fa-shopping-cart"></i><span>کارتل </span><sup>5</sup></button>
    <a href="wishlist.html" title="لیست علاقه مندیها"><i class="far fa-heart"></i><span>لیست آرزوها </span><sup>3</sup></a>
    <a href="compare.html" title="مقایسه لیست"><i class="far fa-exchange"></i><span>مقایسه کنید </span><sup>2</sup></a>
</div>