

<section class="section newitem-part">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-heading"><h2> تازه رسیده ها</h2></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="new-slider slider-arrow">
                    <li>
                        <div class="product-card">
                            <div class="product-media">
                                <div class="product-label"><label class="label-text new">جدید</label></div>
                                <button class="product-wish wish"><i class="far fa-heart"></i></button><a class="product-image" href="product-details.html"><img src="~/assets/img/product/05.png" alt="تولید - محصول"></a>
                                <div class="product-widget">
                                    <a title="فیلم محصول" href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="venobox far fa-play" data-autoplay="true" data-vbtype="video"></a>
                                    <a title="نمای محصول" href="#" class="far fa-eye" data-bs-toggle="modal" data-bs-target="#product-view"></a>
                                    <a title="مقایسه محصول" href="compare.html" class="far fa-exchange"></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="product-name"><a href="product-details.html">سیب ارگانیک تازه</a></h6>
                                <div class="product-rating">
                                    <i class="active fas fa-star"></i><i class="active fas fa-star"></i><i class="active fas fa-star"></i><i class="active fas fa-star"></i><i class="far fa-star"></i>
                                    <a href="product-details.html">(4)</a>
                                </div>
                                <div class="product-price">
                                    <div><del>5000 تومان</del><span>4000 تومان  </span></div>
                                    <a class="product-add" title="افزودن به سبد خرید" href="product-details.html"><i class="far fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-card">
                            <div class="product-media">
                                <div class="product-label"><label class="label-text new">جدید</label></div>
                                <button class="product-wish wish"><i class="far fa-heart"></i></button><a class="product-image" href="product-details.html"><img src="~/assets/img/product/06.png" alt="تولید - محصول"></a>
                                <div class="product-widget">
                                    <a title="فیلم محصول" href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="venobox far fa-play" data-autoplay="true" data-vbtype="video"></a>
                                    <a title="نمای محصول" href="#" class="far fa-eye" data-bs-toggle="modal" data-bs-target="#product-view"></a>
                                    <a title="مقایسه محصول" href="compare.html" class="far fa-exchange"></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="product-name"><a href="product-details.html">سیب ارگانیک تازه</a></h6>
                                <div class="product-rating">
                                    <i class="active fas fa-star"></i><i class="active fas fa-star"></i><i class="active fas fa-star"></i><i class="active fas fa-star"></i><i class="far fa-star"></i>
                                    <a href="product-details.html">(4)</a>
                                </div>
                                <div class="product-price">
                                    <div><del>5000 تومان</del><span>4000 تومان  </span></div>
                                    <a class="product-add" title="افزودن به سبد خرید" href="product-details.html"><i class="far fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-card">
                            <div class="product-media">
                                <div class="product-label"><label class="label-text new">جدید</label></div>
                                <button class="product-wish wish"><i class="far fa-heart"></i></button><a class="product-image" href="product-details.html"><img src="~/assets/img/product/07.png" alt="تولید - محصول"></a>
                                <div class="product-widget">
                                    <a title="فیلم محصول" href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="venobox far fa-play" data-autoplay="true" data-vbtype="video"></a>
                                    <a title="نمای محصول" href="#" class="far fa-eye" data-bs-toggle="modal" data-bs-target="#product-view"></a>
                                    <a title="مقایسه محصول" href="compare.html" class="far fa-exchange"></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="product-name"><a href="product-details.html">سیب ارگانیک تازه</a></h6>
                                <div class="product-rating">
                                    <i class="active fas fa-star"></i><i class="active fas fa-star"></i><i class="active fas fa-star"></i><i class="active fas fa-star"></i><i class="far fa-star"></i>
                                    <a href="product-details.html">(4)</a>
                                </div>
                                <div class="product-price">
                                    <div><del>5000 تومان</del><span>4000 تومان  </span></div>
                                    <a class="product-add" title="افزودن به سبد خرید" href="product-details.html"><i class="far fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-card">
                            <div class="product-media">
                                <div class="product-label"><label class="label-text new">جدید</label></div>
                                <button class="product-wish wish"><i class="far fa-heart"></i></button><a class="product-image" href="product-details.html"><img src="~/assets/img/product/08.png" alt="تولید - محصول"></a>
                                <div class="product-widget">
                                    <a title="فیلم محصول" href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="venobox far fa-play" data-autoplay="true" data-vbtype="video"></a>
                                    <a title="نمای محصول" href="#" class="far fa-eye" data-bs-toggle="modal" data-bs-target="#product-view"></a>
                                    <a title="مقایسه محصول" href="compare.html" class="far fa-exchange"></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="product-name"><a href="product-details.html">سیب ارگانیک تازه</a></h6>
                                <div class="product-rating">
                                    <i class="active fas fa-star"></i><i class="active fas fa-star"></i><i class="active fas fa-star"></i><i class="active fas fa-star"></i><i class="far fa-star"></i>
                                    <a href="product-details.html">(4)</a>
                                </div>
                                <div class="product-price">
                                    <div><del>5000 تومان</del><span>4000 تومان  </span></div>
                                    <a class="product-add" title="افزودن به سبد خرید" href="product-details.html"><i class="far fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-card">
                            <div class="product-media">
                                <div class="product-label"><label class="label-text new">جدید</label></div>
                                <button class="product-wish wish"><i class="far fa-heart"></i></button><a class="product-image" href="product-details.html"><img src="~/assets/img/product/09.png" alt="تولید - محصول"></a>
                                <div class="product-widget">
                                    <a title="فیلم محصول" href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="venobox far fa-play" data-autoplay="true" data-vbtype="video"></a>
                                    <a title="نمای محصول" href="#" class="far fa-eye" data-bs-toggle="modal" data-bs-target="#product-view"></a>
                                    <a title="مقایسه محصول" href="compare.html" class="far fa-exchange"></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="product-name"><a href="product-details.html">سیب ارگانیک تازه</a></h6>
                                <div class="product-rating">
                                    <i class="active fas fa-star"></i><i class="active fas fa-star"></i><i class="active fas fa-star"></i><i class="active fas fa-star"></i><i class="far fa-star"></i>
                                    <a href="product-details.html">(4)</a>
                                </div>
                                <div class="product-price">
                                    <div><del>5000 تومان</del><span>4000 تومان  </span></div>
                                    <a class="product-add" title="افزودن به سبد خرید" href="product-details.html"><i class="far fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-card">
                            <div class="product-media">
                                <div class="product-label"><label class="label-text new">جدید</label></div>
                                <button class="product-wish wish"><i class="far fa-heart"></i></button><a class="product-image" href="product-details.html"><img src="~/assets/img/product/10.png" alt="تولید - محصول"></a>
                                <div class="product-widget">
                                    <a title="فیلم محصول" href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="venobox far fa-play" data-autoplay="true" data-vbtype="video"></a>
                                    <a title="نمای محصول" href="#" class="far fa-eye" data-bs-toggle="modal" data-bs-target="#product-view"></a>
                                    <a title="مقایسه محصول" href="compare.html" class="far fa-exchange"></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="product-name"><a href="product-details.html">سیب ارگانیک تازه</a></h6>
                                <div class="product-rating">
                                    <i class="active fas fa-star"></i><i class="active fas fa-star"></i><i class="active fas fa-star"></i><i class="active fas fa-star"></i><i class="far fa-star"></i>
                                    <a href="product-details.html">(4)</a>
                                </div>
                                <div class="product-price">
                                    <div><del>5000 تومان</del><span>4000 تومان  </span></div>
                                    <a class="product-add" title="افزودن به سبد خرید" href="product-details.html"><i class="far fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="section-btn-25">
                    <a href="shop-grid.html" class="btn btn-outline"> <span> بیشتر ببینید  </span> <i class="far fa-long-arrow-left float-end ms-1"></i> </a>
                </div>
            </div>
        </div>
    </div>
</section>
