@using Application.Other
@model SelectDayAndMealViewModel
@{
    ViewData["Title"] = "انتخاب وعده و روز";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row justify-content-center">

        <div class="user-form-card mt-5 col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="user-form-title">

                <h2>سفارش فوری</h2>
                <p>مرحله دوم -انتخاب وعده و روز</p>
                @if (ViewBag.Alert != null)
                {
                    <div class="alert alert-warning p-3 rounded-3">
                        @ViewBag.Alert
                        <a href="/Profile/Medical">برای تکمیل کلیک کنید</a>
                    </div>
                }
            </div>
            <form asp-controller="ImmediateOrder" asp-action="SelectOtherDayAndMeal" class="user-form">
                <div class="row">
                    <div class="form-group col-6">
                        <label>انتخاب روز غذا</label>
                        <select class="form-control" asp-items="Html.GetEnumSelectList<Week>()" asp-for="Week">
                            <option selected="" disabled="">یک  گزینه را انتخاب کنید</option>
                        </select>   <span class="text-danger" asp-validation-for="Week"></span>
                    </div>
                    <div class="form-group col-6">
                        <label>انتخاب وعده غذایی</label>
                        <select class="form-control" asp-items="@ViewBag.Meals" asp-for="Meal">
                            <option selected="" disabled="">یک  گزینه را انتخاب کنید</option>
                        </select>   <span class="text-danger" asp-validation-for="Meal"></span>
                    </div>
                </div>
                <input type="hidden" asp-for="Person" value="@ViewBag.Person" />
                <div class="row justify-content-center">
                    <div class="form-button col-6 ">
                        <button class="col-5" type="submit">برو مرحله بعد</button>

                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
@section Footer{
    <partial name="_ValidationScriptsPartial" />
}