* {
    box-sizing: border-box;
}



.select-food {
    height: 450px;
    overflow: scroll;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-color: rgb(72, 0, 253);
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    position: fixed;
    bottom: 23px;
    right: 50px;
    width: 50px;
}
.btn-search-form {
    height: 20px !important;
    background-color: red !important;
}
/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    width: 400px;
    max-width: 400px;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
}

    /* Full-width textarea */




    /* Set a style for the submit/send button */
    .form-container .btn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.8;
    }

    /* Add a red background color to the cancel button */
    .form-container .cancel {
        background-color: red;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover,
    .open-button:hover {
        opacity: 1;
    }

.inputChat {
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    padding: 10px;
    width: 78% !important;
}

.btnChat {
    width: 11% !important;
    border-radius: 500px;
    height: 40px;
    padding: 10px;
    color: white;
    margin-top: 5px;
}

.bChat {
    background-color: blue;
}

.rChat {
    background-color: red;
}

.rightChat {
    color: white;
    background-color: green;
    width: 70%;
    border-radius: 10px;
    padding: 18px;
    margin-top: 5px;
}

.message {
    word-break: break-all;
}

.ul {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.leftChat {
    direction: ltr;
    float: left;
    color: white;
    background-color: rgb(51, 0, 255);
    width: 70%;
    margin-top: 5px;
    border-radius: 10px;
    padding: 18px;
}
