@model InfoViewModel
<div class="navbar-info-group">
    <div class="navbar-info">
        <i class="fal fa-phone"></i>
        <p><small>شماره تماس</small><span>@Model.Number</span></p>
    </div>
    <div class="navbar-info">
        <i class="fal fa-envelope-open-text"></i>
        <p><small>برای ما ایمیل بزنید </small><span><a href="#" class="__cf_email__" data-cfemail="f29b9c949db2978a939f829e97dc919d9f">@Model.Mail</a></span></p>
    </div>
</div>