@model SaidBarAdsViewModel
<div class="blog-widget">
    <a href="@Model.ImageSidebarLink"><img class="img-fluid" style="width: 100%" src="~/Images/@Model.ImageSidebar" alt="@Model.ImageSidebarAlt"></a>
</div>