@model SocialViewModel
<div class="blog-widget">
    <h3 class="blog-widget-title">ما را دنبال کنید</h3>
    <ul class="blog-widget-social">
        <li><a href="@Model.FaceBook" class="fab fa-facebook-f"></a></li>
        <li><a href="@Model.WhatsApp" class="fab fa-whatsapp"></a></li>
        <li><a href="@Model.Linkdin" class="fab fa-linkedin-in"></a></li>
        <li><a href="@Model.Instagram" class="fab fa-instagram"></a></li>
    </ul>
</div>