@model AddTicketViewModel
@{
    ViewData["Title"] = "افزودن تیکت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">

        <div class="user-form-card mt-5 col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="user-form-title">
         
                <h2>ارسال تیکت</h2>
                <p>در 24ساعت شبانه روز در کنار شما هستیم</p>
                @if (ViewBag.Alert != null)
                {
                    <div class="alert alert-warning p-3 rounded-3">
                        @ViewBag.Alert
                    </div>
                }
            </div>
            <form asp-controller="Ticket" asp-action="Ticket" class="user-form" enctype="multipart/form-data">
                <div class="form-group">
               
                    <label>عنوان </label>
                    <input type="text" class="form-control" asp-for="TicketTitle" placeholder="عنوانی برای تیکت بنویسید">
                    <span class="text-danger" asp-validation-for="TicketTitle"></span>
                </div>
                <div class="form-group">
                    <label>پیام </label>
                    <textarea class="form-control bg-white" asp-for="TicketBody" placeholder="پیام خود را بنویسید"></textarea>
                    <span class="text-danger" asp-validation-for="TicketBody"></span>
                </div>
                <div class="form-group col-4">
                    <label>آپلود فایل پیوست</label>
                    <input type="file" id="imagePath" onchange="ChangeImage(this)" asp-for="TicketFile" class="form-control " />
                    <input type="hidden" asp-for="UserId" value="@ViewBag.User"/>
                </div>
                <div class="form-button">
                    <button type="submit">ارسال</button>

                </div>
            </form>
        </div>

    </div>
</div>
@section Footer{
    <partial name="_ValidationScriptsPartial" />
}