@model RestPasswordViewModel
@{
    ViewData["Title"] = "تغییر گذر واژه";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="user-form-part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-5 col-xl-5">

                <div class="user-form-card">
                    <div class="user-form-title">
                        <h2>رمز عبور را تغییر دهید!</h2>
                        <p>رمز ورود معتبر خود را وارد کنید</p>
                        @if (ViewBag.Alert != null)
                        {
                            <div class="alert alert-warning p-3 rounded-3">
                                @ViewBag.Alert
                            </div>
                        }
                    </div>
                    <form class="user-form" asp-controller="Account" asp-action="RestPassword">
                        <div class="form-group">
                            <label>گذرواژه جدید</label>
                            <input type="password" asp-for="Password" class="form-control" placeholder="گذرواژه جدید وارد کنید">
                        </div>
                        <span class="text-danger" asp-validation-for="Password"></span>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="Token" />
                        <div class="form-group">
                            <label>گذرواژه را تأیید کنید</label>
                            <input type="password" asp-for="ComparePassword" class="form-control" placeholder="گذرواژه را تأیید کنید">
                        </div>
                        <span class="text-danger" asp-validation-for="ComparePassword"></span>
                        <div class="form-button">
                            <button type="submit">گذرواژه را تغییر دهید</button>
                            <p>حساب ندارید؟ <a href="/Signup">ثبت نام.</a></p>
                        </div>
                    </form>
                </div>
                <div class="user-form-footer">
                    <p>طراحی و توسعه  <a href="https://darnogroup.ir/">گروه فنی و مهندسی دارنو</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

@section Footer{
    <partial name="_ValidationScriptsPartial" />

}