

<section class="section blog-part">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading"><h2>آخرین خبرها</h2></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="blog-card">
                    <div class="blog-media">
                        <a class="blog-img" href="#"><img src="~/assets/img/blog/1.jpg" alt="وبلاگ"></a>
                        <div class="blog-calender"><span class="blog-date">15 </span><span class="blog-month">خرداد</span></div>
                    </div>
                    <div class="blog-content">
                        <ul class="blog-meta">
                            <li><i class="far fa-user"></i><span> توسط مدیر </span></li>
                            <li><i class="far fa-comments"></i><span>10 نظر</span></li>
                        </ul>
                        <h4 class="blog-title"><a href="blog-details.html">بسیاری از معابر که اکثر آنها رنج برده اند وجود دارد</a></h4>
                        <a class="blog-btn" href="#"><span> ادامه مطلب </span> <i class="far fa-long-arrow-left"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="blog-card">
                    <div class="blog-media">
                        <a class="blog-img" href="#"><img src="~/assets/img/blog/2.jpg" alt="وبلاگ"></a>
                        <div class="blog-calender"><span class="blog-date">15 </span><span class="blog-month">خرداد</span></div>
                    </div>
                    <div class="blog-content">
                        <ul class="blog-meta">
                            <li><i class="far fa-user"></i><span> توسط مدیر </span></li>
                            <li><i class="far fa-comments"></i><span>10 نظر</span></li>
                        </ul>
                        <h4 class="blog-title"><a href="blog-details.html">بسیاری از معابر که اکثر آنها رنج برده اند وجود دارد</a></h4>
                        <a class="blog-btn" href="#"><span> ادامه مطلب </span> <i class="far fa-long-arrow-left"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-card">
                    <div class="blog-media">
                        <a class="blog-img" href="#"><img src="~/assets/img/blog/3.jpg" alt="وبلاگ"></a>
                        <div class="blog-calender"><span class="blog-date">15 </span><span class="blog-month">خرداد</span></div>
                    </div>
                    <div class="blog-content">
                        <ul class="blog-meta">
                            <li><i class="far fa-user"></i><span> توسط مدیر </span></li>
                            <li><i class="far fa-comments"></i><span>10 نظر</span></li>
                        </ul>
                        <h4 class="blog-title"><a href="blog-details.html">بسیاری از معابر که اکثر آنها رنج برده اند وجود دارد</a></h4>
                        <a class="blog-btn" href="#"><span> ادامه مطلب </span> <i class="far fa-long-arrow-left"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
