
<aside class="cart-part">
    <div class="cart-container">
        <div class="cart-header">
            <div class="cart-total"><i class="far fa-shopping-cart"></i><span>کل مورد (5)</span></div>
            <button class="cart-close"><i class="far fa-times"></i></button>
        </div>
        <ul class="cart-list">
            <li class="cart-item">
                <div class="cart-media">
                    <a href="#"><img src="~/assets/img/product/01.png" alt="تولید - محصول"></a><button class="cart-delete"><i class="far fa-times"></i></button>
                </div>
                <div class="cart-info-group">
                    <div class="cart-info">
                        <h6><a href="product-single.html">سیب ارگانیک تازه</a></h6>
                        <p>قیمت - 15000 تومان</p>
                    </div>
                    <div class="cart-action-group">
                        <div class="product-action">
                            <button class="action-minus" title="مقدار منهای"><i class="far fa-minus"></i></button><input class="action-input" title="تعداد" type="text" name="quantity" value="1">
                            <button class="action-plus" title="مقدار به علاوه"><i class="far fa-plus"></i></button>
                        </div>
                        <h6>40000 تومان</h6>
                    </div>
                </div>
            </li>
            <li class="cart-item">
                <div class="cart-media">
                    <a href="#"><img src="~/assets/img/product/02.png" alt="تولید - محصول"></a><button class="cart-delete"><i class="far fa-times"></i></button>
                </div>
                <div class="cart-info-group">
                    <div class="cart-info">
                        <h6><a href="product-single.html">سیب ارگانیک تازه</a></h6>
                        <p>قیمت - 15000 تومان</p>
                    </div>
                    <div class="cart-action-group">
                        <div class="product-action">
                            <button class="action-minus" title="مقدار منهای"><i class="far fa-minus"></i></button><input class="action-input" title="تعداد" type="text" name="quantity" value="1">
                            <button class="action-plus" title="مقدار به علاوه"><i class="far fa-plus"></i></button>
                        </div>
                        <h6>40000 تومان</h6>
                    </div>
                </div>
            </li>
            <li class="cart-item">
                <div class="cart-media">
                    <a href="#"><img src="~/assets/img/product/03.png" alt="تولید - محصول"></a><button class="cart-delete"><i class="far fa-times"></i></button>
                </div>
                <div class="cart-info-group">
                    <div class="cart-info">
                        <h6><a href="product-single.html">سیب ارگانیک تازه</a></h6>
                        <p>قیمت - 15000 تومان</p>
                    </div>
                    <div class="cart-action-group">
                        <div class="product-action">
                            <button class="action-minus" title="مقدار منهای"><i class="far fa-minus"></i></button><input class="action-input" title="تعداد" type="text" name="quantity" value="1">
                            <button class="action-plus" title="مقدار به علاوه"><i class="far fa-plus"></i></button>
                        </div>
                        <h6>40000 تومان</h6>
                    </div>
                </div>
            </li>
            <li class="cart-item">
                <div class="cart-media">
                    <a href="#"><img src="~/assets/img/product/04.png" alt="تولید - محصول"></a><button class="cart-delete"><i class="far fa-times"></i></button>
                </div>
                <div class="cart-info-group">
                    <div class="cart-info">
                        <h6><a href="product-single.html">سیب ارگانیک تازه</a></h6>
                        <p>قیمت - 15000 تومان</p>
                    </div>
                    <div class="cart-action-group">
                        <div class="product-action">
                            <button class="action-minus" title="مقدار منهای"><i class="far fa-minus"></i></button><input class="action-input" title="تعداد" type="text" name="quantity" value="1">
                            <button class="action-plus" title="مقدار به علاوه"><i class="far fa-plus"></i></button>
                        </div>
                        <h6>40000 تومان</h6>
                    </div>
                </div>
            </li>
            <li class="cart-item">
                <div class="cart-media">
                    <a href="#"><img src="~/assets/img/product/05.png" alt="تولید - محصول"></a><button class="cart-delete"><i class="far fa-times"></i></button>
                </div>
                <div class="cart-info-group">
                    <div class="cart-info">
                        <h6><a href="product-single.html">سیب ارگانیک تازه</a></h6>
                        <p>قیمت - 15000 تومان</p>
                    </div>
                    <div class="cart-action-group">
                        <div class="product-action">
                            <button class="action-minus" title="مقدار منهای"><i class="far fa-minus"></i></button><input class="action-input" title="تعداد" type="text" name="quantity" value="1">
                            <button class="action-plus" title="مقدار به علاوه"><i class="far fa-plus"></i></button>
                        </div>
                        <h6>40000 تومان</h6>
                    </div>
                </div>
            </li>
        </ul>
        <div class="cart-footer">
            <button class="coupon-btn">آیا کد تخفیف دارید؟</button>
            <form class="coupon-form">
                <input type="text" placeholder="کد تخفیف خود را وارد کنید"><button type="submit"><span>درخواست دادن</span></button>
            </form>
            <a class="cart-checkout-btn" href="checkout.html"><span class="checkout-label">ادامه پرداخت </span><span class="checkout-price">200.00 تومان</span></a>
        </div>
    </div>
</aside>

