

<footer class="footer-part">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xl-3">
                <div class="footer-widget">
                    <a class="footer-logo" href="#"><img src="~/assets/img/logo.png" alt="لوگو"></a>
                    <p class="footer-desc">ما بسیاری از معابر موجود هستیم اما اکثریت از طنز تزریق شده یا تصادفی باورنکردنی دچار تغییراتی شده اند.</p>
                    <ul class="footer-social">
                        <li><a class="fab fa-facebook-f" href="#"></a></li>
                        <li><a class="fab fa-twitter" href="#"></a></li>
                        <li><a class="fab fa-linkedin-in" href="#"></a></li>
                        <li><a class="fab fa-instagram" href="#"></a></li>
                        <li><a class="fab fa-pinterest" href="#"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="footer-widget">
                    <h3 class="footer-title">لینک های سریع</h3>
                    <div class="footer-links">
                        <ul>
                            <li><a href="#">پروفایل من</a></li>
                            <li><a href="#">تاریخچه سفارش ها</a></li>
                            <li><a href="#">پیگیری سفارش</a></li>
                            <li><a href="#">ایجاد حساب</a></li>
                            <li><a href="#">ورود به سیستم</a></li>
                            <li><a href="#">حمایت کردن</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">درباره ما</a></li>
                            <li><a href="#">شرکت های وابسته</a></li>
                            <li><a href="#">با ما تماس بگیرید</a></li>
                            <li><a href="#">حرفه ما</a></li>
                            <li><a href="#">حریم خصوصی</a></li>
                            <li><a href="#">پرسش و پاسخ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="footer-widget contact">
                    <h3 class="footer-title">با ما تماس بگیرید</h3>
                    <ul class="footer-contact">
                        <li>
                            <i class="fal fa-envelope-open-text"></i>
                            <p><span><a href="#" class="__cf_email__" data-cfemail="90f9fef6ffd0f5e8f1fde0fcf5bef3fffd">info@gmail.com</a></span><span><a href="#" class="__cf_email__" data-cfemail="8af9fffafae5f8fecaeff2ebe7fae6efa4e9e5e7">hello@gmail.com</a></span></p>
                        </li>
                        <li>
                            <i class="fal fa-phone"></i>
                            <p><span>02155654646 </span><span>021543432</span></p>
                        </li>
                        <li>
                            <i class="fal fa-map-marker-alt"></i>
                            <p>ایران - تهران - خیابان بهار</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="footer-widget">
                    <h3 class="footer-title">بارگیری برنامه</h3>
                    <p class="footer-desc">بارگیری برنامه از مدت ها قبل ثابت کرده است که خواننده هنگام مطالعه در صفحه ای که دارای چیدمان صفحه است دارای حروف طبیعی است و حواس او به مطالعه خوانده می شود.</p>
                    <div class="footer-app">
                        <a href="#"><img src="~/assets/img/download/play-store.png" alt="گوگل"></a>
                        <a href="#"><img src="~/assets/img/download/app-store.png" alt="برنامه"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="footer-bottom">
                    <p class="footer-copytext">© کپی رایت  1400   <a href="#">ارگانیک</a> کلیه حقوق محفوظ است.</p>
                    <div class="footer-card">
                        <a href="#"><img src="~/assets/img/payment/jpg/01.jpg" alt="پرداخت"></a>
                        <a href="#"><img src="~/assets/img/payment/jpg/02.jpg" alt="پرداخت"></a>
                        <a href="#"><img src="~/assets/img/payment/jpg/03.jpg" alt="پرداخت"></a>
                        <a href="#"><img src="~/assets/img/payment/jpg/04.jpg" alt="پرداخت"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

