

<section class="section visual-part">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="visual-wrap">
                    <div class="visual-icon"><i class="fal fa-truck"></i></div>
                    <div class="visual-content">
                        <h5>تحویل رایگان</h5>
                        <p>تعداد زیادی از معابر سنگ معدن موجود است.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="visual-wrap">
                    <div class="visual-icon"><i class="fal fa-sack-dollar"></i></div>
                    <div class="visual-content">
                        <h5>پرداخت امن</h5>
                        <p>تعداد زیادی از معابر سنگ معدن موجود است.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="visual-wrap">
                    <div class="visual-icon"><i class="fal fa-sync-alt"></i></div>
                    <div class="visual-content">
                        <h5>30 روز برگشت پول</h5>
                        <p>تعداد زیادی از معابر سنگ معدن موجود است.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="visual-wrap">
                    <div class="visual-icon"><i class="fal fa-headset"></i></div>
                    <div class="visual-content">
                        <h5>پشتیبانی 24/7 مشتری</h5>
                        <p>تعداد زیادی از معابر سنگ معدن موجود است.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
