
<nav class="navbar-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="navbar-content">
                    <ul class="navbar-list">
                        <li class="navbar-item ">
                            <a class="navbar-link " asp-controller="Home" asp-action="Index">خانه</a>
                        </li>
                        <li class="navbar-item ">
                            <a class="navbar-link " asp-controller="Food" asp-action="Foods">منو غذایی</a>
                        </li>
                        @await Component.InvokeAsync("SicknessAndMealComponent")


                        @await Component.InvokeAsync("TableComponent")
                        <li class="navbar-item ">
                            <a class="navbar-link " href="/blogs">وبلاگ </a>

                        </li>
                        <li class="navbar-item ">
                            <a class="navbar-link " asp-controller="Home" asp-action="ContactUs">ارتباط با ما</a>
                        </li>    <li class="navbar-item ">
                            <a class="navbar-link " asp-controller="Home" asp-action="Question">سوالات شما</a>
                        </li> 
                        <li class="navbar-item ">
                            <a class="navbar-link " asp-controller="ImmediateOrder" asp-action="SelectPerson">سفارش فوری</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="navbar-item ">
                                <a class="navbar-link " asp-controller="Ticket" asp-action="AllTickets">تیکت ها</a>
                            </li>
                        }
                    </ul>
                    @await Component.InvokeAsync("InfoComponent")
                </div>
            </div>
        </div>
    </div>
</nav>
