
<div class="modal" id="product-view">
    <div class="modal-dialog">
        <div class="modal-content">
            <button class="modal-close far fa-times" data-bs-dismiss="modal"></button>
            <div class="product-view">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="view-gallery">
                            <div class="view-label-group"><label class="view-label new">جدید</label></div>
                            <ul class="preview-slider slider-arrow">
                                <li><img src="~/assets/img/product/01.png" alt="تولید - محصول"></li>
                                <li><img src="~/assets/img/product/02.png" alt="تولید - محصول"></li>
                                <li><img src="~/assets/img/product/03.png" alt="تولید - محصول"></li>
                                <li><img src="~/assets/img/product/04.png" alt="تولید - محصول"></li>
                                <li><img src="~/assets/img/product/05.png" alt="تولید - محصول"></li>
                                <li><img src="~/assets/img/product/06.png" alt="تولید - محصول"></li>
                                <li><img src="~/assets/img/product/07.png" alt="تولید - محصول"></li>
                            </ul>
                            <ul class="thumb-slider">
                                <li><img src="~/assets/img/product/01.png" alt="تولید - محصول"></li>
                                <li><img src="~/assets/img/product/02.png" alt="تولید - محصول"></li>
                                <li><img src="~/assets/img/product/03.png" alt="تولید - محصول"></li>
                                <li><img src="~/assets/img/product/04.png" alt="تولید - محصول"></li>
                                <li><img src="~/assets/img/product/05.png" alt="تولید - محصول"></li>
                                <li><img src="~/assets/img/product/06.png" alt="تولید - محصول"></li>
                                <li><img src="~/assets/img/product/07.png" alt="تولید - محصول"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="view-details">
                            <h3 class="view-name"><a href="product-details.html">سیب ارگانیک تازه</a></h3>
                            <div class="view-meta">
                                <p>کد محصول: <span>3214567</span></p>
                                <p><a href="#">مارک</a> تجاری: <a href="#">تسولیا</a></p>
                            </div>
                            <div class="view-rating">
                                <i class="active fas fa-star"></i><i class="active fas fa-star"></i><i class="active fas fa-star"></i><i class="active fas fa-star"></i><i class="far fa-star"></i>
                                <a href="product-details.html">(10 نظر)</a>
                            </div>
                            <h3 class="view-price">
                                <del>50000تومان</del><span>30000تومان </span>
                            </h3>
                            <p class="view-desc">تنوع زیادی از معابر سنگ معدن سنگ معدن وجود دارد اما اکثریت آنها به نوعی با شوخ تزریق شده یا تصادفی دچار تغییر شده اند.</p>
                            <div class="view-list-group">
                                <label class="view-list-title">برچسب ها:</label>
                                <ul class="view-tag-list">
                                    <li><a href="#">میوه ها</a></li>
                                    <li><a href="#">ارگانیک</a></li>
                                    <li><a href="#">سبزیجات</a></li>
                                </ul>
                            </div>
                            <div class="view-list-group">
                                <label class="view-list-title">در انبار:</label>
                                <div>در دسترس</div>
                            </div>
                            <div class="view-list-group">
                                <label class="view-list-title">تعداد:</label>
                                <div class="cart-action-group">
                                    <div class="product-action">
                                        <button class="action-minus" title="مقدار منهای"><i class="far fa-minus"></i></button><input class="action-input" title="تعداد" type="text" name="quantity" value="1">
                                        <button class="action-plus" title="مقدار به علاوه"><i class="far fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="view-add-group">
                                <button class="product-add w-100" title="افزودن به سبد خرید"><i class="far fa-shopping-cart"></i><span>افزودن به سبد خرید</span></button>
                            </div>
                            <div class="view-action-group">
                                <a class="view-wish wish" href="#" title="لیست علاقه مندی های خود را اضافه کنید"><i class="far fa-heart"></i><span>به آرزو اضافه کردن</span></a>
                                <a class="view-compare" href="compare.html" title="مقایسه این مورد"><i class="far fa-exchange"></i><span>افزودن برای مقایسه</span></a>
                            </div>
                            <div class="view-list-group mt-4">
                                <label class="view-list-title">اشتراک گذاری:</label>
                                <ul class="view-share-list">
                                    <li><a href="#" class="fab fa-facebook-f" title="فیس بوک"></a></li>
                                    <li><a href="#" class="fab fa-twitter" title="توییتر"></a></li>
                                    <li><a href="#" class="fab fa-linkedin-in" title="لینک شده"></a></li>
                                    <li><a href="#" class="fab fa-instagram" title="اینستاگرام"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>