<section class="section partner-part">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading"><h2>شرکا عالی ما</h2></div>
            </div>
            <div class="col-lg-12">
                <ul class="partner-slider slider-arrow">
                    <li>
                        <a href="#"><img src="~/assets/img/brand/01.png" alt="نام تجاری"></a>
                    </li>
                    <li>
                        <a href="#"><img src="~/assets/img/brand/01.png" alt="نام تجاری"></a>
                    </li>
                    <li>
                        <a href="#"><img src="~/assets/img/brand/01.png" alt="نام تجاری"></a>
                    </li>
                    <li>
                        <a href="#"><img src="~/assets/img/brand/01.png" alt="نام تجاری"></a>
                    </li>
                    <li>
                        <a href="#"><img src="~/assets/img/brand/01.png" alt="نام تجاری"></a>
                    </li>
                    <li>
                        <a href="#"><img src="~/assets/img/brand/01.png" alt="نام تجاری"></a>
                    </li>
                    <li>
                        <a href="#"><img src="~/assets/img/brand/01.png" alt="نام تجاری"></a>
                    </li>
                    <li>
                        <a href="#"><img src="~/assets/img/brand/01.png" alt="نام تجاری"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>