@model List<UserAnswerViewModel>
@{
    ViewData["Title"] = "پاسخ های ثبت شده";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="inner-section faq-part mt-5">
    <div class="container">
        <div class="row">
            <div class="account-card">
                <div class="account-title">
                    <h4>پاسخ های ثبت شده</h4>
                    <a asp-controller="Home" asp-action="NewAnswer" asp-route-id="@ViewBag.Id"><i class="fal fa-edit"></i>ثبت پاسخ جدید</a>
                </div>
                <div class="account-content">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-10 mx-auto">
                                <div class="faq-child">
                                    <div class="faq-que p-3">
                                        <img src="~/Images/@item.Avatar" width="50" height="50" class="img-thumbnail"/>
                                        <h4 class="mx-4">@item.UserName</h4>

                                        <span class="mx-4 text-warning">ثبت شده در تاریخ:@item.Time</span>
                                        <hr>
                                        <p>@item.Body</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
