
@{
    ViewData["Title"] = "صفحه ای یافت نشد";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="error-part mt-5">
    <div class="container">
        <div class="col-lg-6 mx-auto">
            <img class="img-fluid" src="~/assets/img/error.svg" alt="خطا">
        </div>
        <h3>اوه این صفحه یافت نمی شود</h3>
        <p>این صفحه پیدا نشده است شما به دنبال آن ممکن است وجود نداشته باشد و یا حذف شده است.</p>
        <a href="/">به خانه برو</a>
    </div>
</section>