@model MedicalInformationViewModel
@{
    ViewData["Title"] = "اطلاعات پزشکی";
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">

        <div class="user-form-card mt-5 col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="user-form-title">

                <h2>اطلاعات پزشکی</h2>
                <p>پرونده پزشکی خود را برای ما ثبت کنید</p>
                @if (ViewBag.Alert != null)
                {
                    <div class="alert alert-warning p-3 rounded-3">
                        @ViewBag.Alert
                    </div>
                }
            </div>
            <form asp-controller="Profile" asp-action="Medical" enctype="multipart/form-data" class="user-form">
                <div class="row">
                    <div class="form-group col-4">
                        <label>وزن</label>
                        <input type="number" asp-for="UserWeight" class="form-control" autocomplete="off" placeholder="وزن ">
                        <span class="text-danger" asp-validation-for="UserWeight"></span>
                    </div>
                    <div class="form-group col-4">
                        <label>قد</label>
                        <input type="number" asp-for="UserHeight" class="form-control" autocomplete="off" placeholder="قد ">
                        <span class="text-danger" asp-validation-for="UserHeight"></span>
                    </div>
                    <div class="form-group col-4">
                        <label>سن</label>
                        <input type="number" asp-for="UserAge" class="form-control" autocomplete="off" placeholder=" سن">
                        <span class="text-danger" asp-validation-for="UserAge"></span>
                    </div>
                </div> 
                <div class="row">
                    <div class="form-group col-6">
                        <label>کالری</label>
                        <input type="number" asp-for="UserCalories" class="form-control" autocomplete="off" placeholder="کالری">

                    </div>
                    <div class="form-group col-6">
                        <label>کربوهیدرات</label>
                        <input type="number" asp-for="UserCarbohydrate" class="form-control" autocomplete="off" placeholder="کربوهیدرات ">

                    </div>
                    <div class="form-group col-6">
                        <label>چربی</label>
                        <input type="number" asp-for="UserFat" class="form-control" autocomplete="off" placeholder=" چربی">

                    </div>
                    <div class="form-group col-6">
                        <label>پروتئین</label>
                        <input type="number" asp-for="UserProtein" class="form-control" autocomplete="off" placeholder=" پروتئین">

                    </div>
                </div>
                <div class="row">
                    <input type="hidden" asp-for="MedicalId"/>
                    <div class="form-group col-6">
                        <label>انتخاب بیماری</label>
                        <select class="form-control" asp-for="SicknessId" asp-items="@ViewBag.Sickness">
                            <option selected="" disabled="">یک  گزینه را انتخاب کنید</option>
                        </select>   <span class="text-danger" asp-validation-for="SicknessId"></span>
                    </div>
                    <div class="form-group col-6">
                        <label>جنسیت</label>
                        <select class="form-control" asp-items="Html.GetEnumSelectList<GenderEnumViewModel>()" asp-for="Gender">
                            <option selected="" disabled="">یک  گزینه را انتخاب کنید</option>
                        </select>   <span class="text-danger" asp-validation-for="Gender"></span>
                    </div>
                    <input type="hidden" asp-for="UserId" class="form-control"  />
                    <input type="hidden" asp-for="UserFileDownload" class="form-control"  />
                    <div class="form-group col-4">
                        <label>پرونده پزشکی</label>
                        <input type="file" asp-for="UserFile" class="form-control" accept=".jpg,.png,.pdf" />

                    </div>        <div class="form-group col-12">
                        <label>پرونده پزشکی</label><br />
                        @if (!string.IsNullOrEmpty(Model.UserFileDownload))
                        {
                            <p class="mt-2">برای مشاهده و دانلود پرونده پزشکی اینجا کلیک کنید:<a href="~/File/@Model.UserFileDownload">دانلود پرونده پزشکی</a></p>
                        }
                        else
                        {
                            <p class="mt-2">برای مشاهده و دانلود پرونده پزشکی اینجا کلیک کنید:<a class="text-danger">فایلی آپلود نشده</a></p>
                        }
                    </div>

                </div>
                <div class="form-button">
                    <button type="submit">ثبت اطلاعات</button>

                </div>
            </form>
        </div>

    </div>
</div>
@section Footer{
    <partial name="_ValidationScriptsPartial" />
}