
<!DOCTYPE html>
<html lang="en">

<head>
    <partial name="_HeadTags"/>
    @RenderSection("Header",false)
</head>

<body class="rtl">
    <div class="main-wrapper">

        <!-- partial:partials/_sidebar.html -->
    <partial name="_Saidbar"/>
     

        <div class="page-wrapper">


            <div class="page-content">
              @RenderBody()
            </div>

            <!-- partial:partials/_footer.html -->
            <footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between">
                <p class="text-muted text-center text-md-left">Copyright © 2020، تمام حقوق محفوظ است</p>
            </footer>
            <!-- partial -->

        </div>
    </div>
<partial name="_Script"/>
@RenderSection("Footer",false)
</body>

</html>