<nav class="sidebar">
    <div class="sidebar-header">
        <a href="/" class="sidebar-brand">
            مشاهده<span>سایت</span>
        </a>
        <div class="sidebar-toggler not-active">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="sidebar-body">
        <ul class="nav">
            <li class="nav-item nav-category">اصلی</li>
            <li class="nav-item">
                <a href="dashboard-one.html" class="nav-link">
                    <i class="link-icon" data-feather="box"></i>
                    <span class="link-title">داشبورد</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#emails" role="button" aria-expanded="false"
                   aria-controls="emails">
                    <i class="link-icon" data-feather="shield"></i>
                    <span class="link-title">نقش ها</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="emails">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a asp-controller="Role" asp-action="Index" class="nav-link">لیست نقش ها</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Role" asp-action="create" class="nav-link">افزودن نقش</a>
                        </li>

                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#uiComponents" role="button" aria-expanded="false"
                   aria-controls="uiComponents">
                    <i class="link-icon" data-feather="users"></i>
                    <span class="link-title">کاربران</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="uiComponents">
                    <ul class="nav sub-menu">

                        <li class="nav-item">
                            <a asp-controller="User" asp-action="index" class="nav-link">لیست کاربران</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="User" asp-action="create" class="nav-link">افزودن کاربر</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#advancedUI" role="button" aria-expanded="false"
                   aria-controls="advancedUI">
                    <i class="link-icon" data-feather="pen-tool"></i>
                    <span class="link-title">مقالات</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="advancedUI">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a asp-controller="Article" asp-action="Index" class="nav-link">لیست مقالات</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Article" asp-action="Create" class="nav-link">افزودن مقاله</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Category" asp-action="Index" class="nav-link">لیست دسته بندی</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Category" asp-action="Create" class="nav-link">افزودن دسته بندی</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#forms" role="button" aria-expanded="false"
                   aria-controls="forms">
                    <i class="link-icon" data-feather="map-pin"></i>
                    <span class="link-title">موقعیت مکانی</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="forms">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a asp-controller="Location" asp-action="Index" class="nav-link">لیست استان ها</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Location" asp-action="Create" class="nav-link">افزودن استان</a>
                        </li>

                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#charts" role="button" aria-expanded="false"
                   aria-controls="charts">
                    <i class="link-icon" data-feather="grid"></i>
                    <span class="link-title">وعده های غذایی</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="charts">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a asp-controller="Meal" asp-action="Create" class="nav-link">لیست وعده های غذایی</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Meal" asp-action="Create" class="nav-link">افزودن وعده</a>
                        </li>

                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#tables" role="button" aria-expanded="false"
                   aria-controls="tables">
                    <i class="link-icon" data-feather="activity"></i>
                    <span class="link-title">بیماری ها</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="tables">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a asp-controller="sickness" asp-action="index" class="nav-link">لیست بیماری ها</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="sickness" asp-action="Create" class="nav-link">افزودن بیماری</a>
                        </li>
                    </ul>
                </div>
            </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#authPages" role="button" aria-expanded="false"
               aria-controls="authPages">
                <i class="link-icon" data-feather="box"></i>
                <span class="link-title">پک های غذایی</span>
                <i class="link-arrow" data-feather="chevron-down"></i>
            </a>
            <div class="collapse" id="authPages">
                <ul class="nav sub-menu">
                    <li class="nav-item">
                        <a asp-controller="Food" asp-action="Index" class="nav-link">لیست پک های غذایی</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Food" asp-action="Create" class="nav-link">افزودن پک غذایی</a>
                    </li>
                </ul>
            </div>
        </li>
        
        
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#a" role="button" aria-expanded="false"
               aria-controls="a">
                <i class="link-icon" data-feather="box"></i>
                <span class="link-title">سفارشات ثبت شده</span>
                <i class="link-arrow" data-feather="chevron-down"></i>
            </a>
            <div class="collapse" id="a">
                <ul class="nav sub-menu">
                    <li class="nav-item">
                        <a asp-controller="Register" asp-action="Register" class="nav-link">سفارشات ثبت شده</a>
                    </li>
                  
                </ul>
            </div>
        </li>
        
        
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#b" role="button" aria-expanded="false"
               aria-controls="b">
                <i class="link-icon" data-feather="box"></i>
                <span class="link-title">سفارشات آشپزخانه </span>
                <i class="link-arrow" data-feather="chevron-down"></i>
            </a>
            <div class="collapse" id="b">
                <ul class="nav sub-menu">
                    <li class="nav-item">
                        <a asp-controller="Register" asp-action="Kitchen" class="nav-link">سفارشات  آشپزخانه</a>
                    </li>
                  
                </ul>
            </div>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#c" role="button" aria-expanded="false"
               aria-controls="c">
                <i class="link-icon" data-feather="box"></i>
                <span class="link-title">سفارشات ارسالی </span>
                <i class="link-arrow" data-feather="chevron-down"></i>
            </a>
            <div class="collapse" id="c">
                <ul class="nav sub-menu">
                    <li class="nav-item">
                        <a asp-controller="Register" asp-action="Delivery" class="nav-link">سفارشات  ارسالی</a>
                    </li>
                  
                </ul>
            </div>
        </li>
        
            <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#d" role="button" aria-expanded="false"
               aria-controls="d">
                <i class="link-icon" data-feather="box"></i>
                <span class="link-title">سفارشات تحویل داده شده </span>
                <i class="link-arrow" data-feather="chevron-down"></i>
            </a>
            <div class="collapse" id="d">
                <ul class="nav sub-menu">
                    <li class="nav-item">
                        <a asp-controller="Register" asp-action="Close" class="nav-link">سفارشات  تحویل داده شده</a>
                    </li>
                  
                </ul>
            </div>
        </li>
        

        
        
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#link" role="button" aria-expanded="false"
               aria-controls="link">
                <i class="link-icon" data-feather="link"></i>
                <span class="link-title">لینک ها</span>
                <i class="link-arrow" data-feather="chevron-down"></i>
            </a>
            <div class="collapse" id="link">
                <ul class="nav sub-menu">
                    <li class="nav-item">
                        <a asp-controller="link" asp-action="Index" class="nav-link">لیست لینک ها</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="link" asp-action="Create" class="nav-link">افزودن لینک</a>
                    </li>

                </ul>
            </div>
        </li>
         
        
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#Discount" role="button" aria-expanded="false"
               aria-controls="Discount">
                <i class="link-icon" data-feather="award"></i>
                <span class="link-title">تخفیف ها</span>
                <i class="link-arrow" data-feather="chevron-down"></i>
            </a>
            <div class="collapse" id="Discount">
                <ul class="nav sub-menu">
                    <li class="nav-item">
                        <a asp-controller="Discount" asp-action="Index" class="nav-link">لیست تخفیف ها</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Discount" asp-action="Create" class="nav-link">افزودن تخفیف</a>
                    </li>

                </ul>
            </div>
        </li>
        

        <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#icons" role="button" aria-expanded="false"
                   aria-controls="icons">
                    <i class="link-icon" data-feather="folder"></i>
                    <span class="link-title">سوالات متداول</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="icons">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a asp-controller="Question" asp-action="index" class="nav-link">لیست سوالات متداول</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Question" asp-action="create" class="nav-link">افزودن سوال</a>
                        </li>

                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#general-pages" role="button" aria-expanded="false"
                   aria-controls="general-pages">
                    <i class="link-icon" data-feather="monitor"></i>
                    <span class="link-title">اسلایدر</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="general-pages">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a asp-controller="Slider" asp-action="index" class="nav-link">لیست تصاویر</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Slider" asp-action="create" class="nav-link">افزودن تصویر</a>
                        </li>

                    </ul>
                </div>
            </li>
            
        
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#errorPages" role="button" aria-expanded="false"
               aria-controls="errorPages">
                <i class="link-icon" data-feather="layout"></i>
                <span class="link-title">جداول</span>
                <i class="link-arrow" data-feather="chevron-down"></i>
            </a>
            <div class="collapse" id="errorPages">
                <ul class="nav sub-menu">
                    <li class="nav-item">
                        <a asp-controller="Table" asp-action="index" class="nav-link">لیست  جداول</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Table" asp-action="create" class="nav-link">افزودن جدول</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#errorages" role="button" aria-expanded="false"
               aria-controls="errorages">
                <i class="link-icon" data-feather="clipboard"></i>
                <span class="link-title">پرسش و پاسخ</span>
                <i class="link-arrow" data-feather="chevron-down"></i>
            </a>
            <div class="collapse" id="errorages">
                <ul class="nav sub-menu">
                    <li class="nav-item">
                        <a asp-controller="UserQuestion" asp-action="index" class="nav-link">لیست  پرسش ها</a>
                    </li>
                  
                </ul>
            </div>
        </li>

        
        
        

        <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#rrorPages" role="button" aria-expanded="false"
                   aria-controls="rrorPages">
                    <i class="link-icon" data-feather="smile"></i>
                    <span class="link-title">حامیان و شرکای تجاری</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="rrorPages">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a asp-controller="Supporter" asp-action="index" class="nav-link">لیست شرکای تجاری</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Supporter" asp-action="create" class="nav-link">افزودن شریک تجاری</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#errorages" role="button" aria-expanded="false"
                   aria-controls="errorages">
                    <i class="link-icon" data-feather="trending-up"></i>
                    <span class="link-title">تبلیغات</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="errorages">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a asp-controller="Ads" asp-action="Ads" class="nav-link">بنر های تبلیغاتی</a>
                        </li>

                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#errorag" role="button" aria-expanded="false"
                   aria-controls="errorag">
                    <i class="link-icon" data-feather="settings"></i>
                    <span class="link-title">تنظیمات</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="errorag">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a asp-controller="Setting" asp-action="Setting" class="nav-link">عمومی</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Seo" asp-action="Seo" class="nav-link">سفارش سازی</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>