@model UpdateFoodViewModel
@{
    ViewData["Title"] = "ویرایش پک غذایی";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Admin">پیشخوان</a></li>
        <li class="breadcrumb-item " aria-current="page"><a asp-controller="Food" asp-action="Index">لیست  پک های غذایی</a></li>
        <li class="breadcrumb-item active" aria-current="page">ویرایش پک غذایی</li>
    </ol>
</nav>


<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">ویرایش پک غذایی</h6>
                @if (ViewBag.Alert != null)
                {
                    <div class="alert alert-fill-danger" role="alert">
                        @ViewBag.Alert
                    </div>
                }
                <form asp-controller="Food" asp-action="Edit" enctype="multipart/form-data">
                    
                    <input type="hidden" asp-for="FoodImagePath" />
                    <input type="hidden" asp-for="FoodId" />

                    <img src="/Images/@Model.FoodImagePath" id="image" class="mb-3 " width="150" height="90" /><br />
                    <div class="row">
                        <div class="form-group  col-8">
                            <label>عنوان پک غذایی </label>
                            <input type="text" asp-for="FoodTitle" class="form-control" autocomplete="off" placeholder="عنوان پک غذایی">
                            <span class="text-danger" asp-validation-for="FoodTitle"></span>
                        </div> 
                        <div class="form-group  col-4">
                            <label>شناسه محصول </label>
                            <input type="number" asp-for="FoodCode" class="form-control" autocomplete="off" placeholder="شناسه محصول">
                            <span class="text-danger" asp-validation-for="FoodCode"></span>
                        </div>
                        <div class="row col-12">
                            <div class="form-group col-4">
                                <label>قیمت پک غذایی </label>
                                <input type="number" asp-for="FoodPrice" class="form-control" autocomplete="off" placeholder="قیمت را به تومان وارد کنبد ">
                                <span class="text-danger" asp-validation-for="FoodPrice"></span>
                            </div>
                            <div class="form-group col-4">
                                <label>قیمت با تخفیف خورده </label>
                                <input type="text" asp-for="FoodDiscountPrice" class="form-control" autocomplete="off" placeholder="قیمت را به تومان وارد کنبد ">
                            </div>  
                            <div class="form-group col-4">
                                <label>امتیاز </label>
                                <input type="range" min="1" max="5" asp-for="Rate" class="form-control" autocomplete="off" >
                            </div>


                            <div class="form-group col-3 col-md-6 col-sm-6">
                                <label>تعداد پک غذایی </label>
                                <input type="number" asp-for="FoodCount" class="form-control" autocomplete="off" placeholder="تعداد پک غذایی ">
                                <span class="text-danger" asp-validation-for="FoodCount"></span>
                            </div>
                            <div class="form-group col-9 col-md-6 col-sm-6">
                                <label>برچسب پک غذایی </label>
                                <input type="text" asp-for="FoodTags" class="form-control" autocomplete="off" placeholder="برچسب ها را با - از هم جدا کنید ">
                                <span class="text-danger" asp-validation-for="FoodTags"></span>
                            </div>
                        </div>

                        <div class="form-group  col-12">
                            <label>توضیحات  مقاله</label>
                            <textarea id="maxlength-textarea" asp-for="FoodDescription" class="form-control ckeditor" rows="15" style="height: 150px !important;" placeholder="توضیحات مقاله"></textarea>
                            <span class="text-danger" asp-validation-for="FoodDiscountPrice"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label>انتخاب وعده غذایی</label>
                            <select class="form-control" asp-items="@ViewBag.Meals" asp-for="MealId">
                                <option selected="" disabled="">یک  گزینه را انتخاب کنید</option>
                            </select>   <span class="text-danger" asp-validation-for="MealId"></span>
                        </div>
                        <div class="form-group col-6">
                            <label>انتخاب بیماری</label>
                            <select class="form-control" asp-items="@ViewBag.Sickness" asp-for="SicknessId">
                                <option selected="" disabled="">یک  گزینه را انتخاب کنید</option>
                            </select>   <span class="text-danger" asp-validation-for="SicknessId"></span>
                        </div>
                        <div class="form-group col-3 col-md-6 col-sm-6 col-sm-6">
                            <label>میزان پروتئین</label>
                            <input type="text" asp-for="FoodProtein" class="form-control" autocomplete="off" placeholder="پروتئین">
                            <span class="text-danger" asp-validation-for="FoodProtein"></span>
                        </div>  <div class="form-group col-3 col-md-6 col-sm-6">
                            <label>میزان کالری</label>
                            <input type="text" asp-for="FoodCalories" class="form-control" autocomplete="off" placeholder="کالری">
                            <span class="text-danger" asp-validation-for="FoodCalories"></span>
                        </div>  <div class="form-group col-3 col-md-6 col-sm-6">
                            <label>میزان کربوهیدرات</label>
                            <input type="text" asp-for="FoodCarbohydrate" class="form-control" autocomplete="off" placeholder="کربوهیدرات">
                            <span class="text-danger" asp-validation-for="FoodCarbohydrate"></span>
                        </div>  <div class="form-group col-3 col-md-6 col-sm-6">
                            <label>میزان چربی</label>
                            <input type="text" asp-for="FoodFat" class="form-control" autocomplete="off" placeholder="چربی">
                            <span class="text-danger" asp-validation-for="FoodFat"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputUsername1">توضیحات کوتاه</label>
                        <textarea id="maxlength-textarea" asp-for="FoodSummary" class="form-control" maxlength="400" rows="8" placeholder="توضیحات کوتاه"></textarea>
                        <span class="text-danger" asp-validation-for="FoodSummary"></span>
                    </div>
                    <div class="form-group  col-12">
                        <label>لینک ویدئو پک غذایی </label>
                        <input type="text" asp-for="FoodLink" class="form-control" autocomplete="off" placeholder="لینک آپارات">
                        <span class="text-danger" asp-validation-for="FoodLink"></span>
                    </div>
                    <div class="row">
                        <div class="form-group col-3">
                            <label>آپلود تصویر</label>
                            <input type="file" id="imagePath" onchange="ChangeImage(this)" asp-for="FoodImage" class="form-control" />
                            <span class="text-danger" asp-validation-for="FoodImage"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary ml-2">ثبت</button>
                    <a role="button" href="/Admin/Foods" class="btn btn-light">لغو</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Footer{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.ckeditor.com/4.18.0/full/ckeditor.js"></script>
}